<!DOCTYPE html>

<html >
<head>
    <meta >
    <title></title>
</head>
<body>
<form action="/" method="post">
    <table>
        <tr>
            <td>UserName : <input type="text" name="user[name]" value="" /></td>
        </tr>
        <tr><td>Password : <input type="password" name="user[password]" value="" /></td></tr>
        <tr>
            <td>
                <input type="radio" name="user[profile]" value="User"> User
            </td>

            <br>
            <td><input type="radio" name="user[profile]" value="Trainer"> Trainer</td></tr>
        <br>
        <tr><td><input type="submit" name="submit" /></td></tr>
    </table>
</form>
</body>
</html>