<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="User.css">
    <title>User</title>
</head>
<body>
<h1> User</h1>
<div class ="settings">
    <form action="/logout" method="get">
        <div class ="logout">
            <input type="submit" name="logout" value="logout" />
        </div>
    </div>
</form>
<br>
<div class ="body">
   <p> Chat Area</p>
</div>
<br/>
<div class ="bottom">
    <p>Message Area</p>
    <div class ="userChat">
            <input  style="margin-left:40px; margin-top:20px; width:50%; height :50%" type="text" name="fname">
            <button style="float:right; margin-top:50px;margin-right:100px " >send</button><br>
        </div><br>
        
 </div>
</body>
</html>